################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RobotWars/.vs/RobotWars/v15/Server/sqlite3
/RobotWars
